<form 
  class="card"
  [formGroup]="form"
  (ngSubmit)="submit()"
>
  <h2>Enter to admin panel</h2>

  <!-- данная запись auth.error$ | async as error означает
  что так как  auth.error$ это стрим то обрабатываем его пайпом async
  и после этого обявляем локальную переменную error при помощи as для использования в шаблоне-->
  <div class="alert alert-danger" *ngIf="auth.error$ | async as error">
    {{error}}
  </div>

  <div class="alert alert-info" *ngIf="message">
    {{message}}
  </div>

  <div
    [ngClass]="{invalid: form.get('email').touched && form.get('email').invalid}" 
    class="form-control"
  >
    <label for="email">Email:</label>

    <input 
      id="email" 
      type="text"
      formControlName="email"
    >

    <div
      *ngIf="form.get('email').touched && form.get('email').invalid" 
      class="validation"
    >
      <small
        *ngIf="form.get('email').errors.required"
      >
        Email is required
      </small>

      <small
        *ngIf="form.get('email').errors.email"
      >
        Wrong email
      </small>
    </div>
  </div>

  <div
    [ngClass]="{invalid: form.get('password').touched && form.get('password').invalid}"  
    class="form-control"
  >
    <label for="password">Password:</label>

    <input 
      id="password" 
      type="password"
      formControlName="password"
    >

    <div
      *ngIf="form.get('password').touched && form.get('password').invalid"  
      class="validation"
    >
      <small
        *ngIf="form.get('password').errors.required"
      >
        Password is required
      </small>

      <small
        *ngIf="form.get('password').errors.minlength"
      >
        Min length of password is {{form.get('password').errors.minlength.requiredLength}} characters
        You entered {{form.get('password').errors.minlength.actualLength}}
      </small>
    </div>
  </div>

  <button
    type="submit"
    class="btn btn-primary"
    [disabled]="form.invalid || submitted"
  >Enter</button>
</form>
