<div class="post">
  <div class="header">
    <h1>Post Title</h1>

    <button 
      routerLink="/"
      class="btn btn-link"
    >Go Home</button>
  </div>

  <div class="info">
    <strong>Author</strong>

    <small>02.09.2022</small>
  </div>

  <div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui recusandae rem iure velit laboriosam neque alias ab. Consectetur excepturi, assumenda quo cupiditate quasi ab cum voluptatem soluta commodi a sapiente provident ex officiis in suscipit. Incidunt nesciunt officia non a?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui recusandae rem iure velit laboriosam neque alias ab. Consectetur excepturi, assumenda quo cupiditate quasi ab cum voluptatem soluta commodi a sapiente provident ex officiis in suscipit. Incidunt nesciunt officia non a?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui recusandae rem iure velit laboriosam neque alias ab. Consectetur excepturi, assumenda quo cupiditate quasi ab cum voluptatem soluta commodi a sapiente provident ex officiis in suscipit. Incidunt nesciunt officia non a?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui recusandae rem iure velit laboriosam neque alias ab. Consectetur excepturi, assumenda quo cupiditate quasi ab cum voluptatem soluta commodi a sapiente provident ex officiis in suscipit. Incidunt nesciunt officia non a?</p>
  </div>
</div>
